<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" media="screen" />
</head>

<div class="last-seen-data-container">
    <div class="last-seen-image-container">
        <a href="#">
            <img src="chrome-extension://ennaeaolgbonmikpfeolphklfkgghnko/assets/images/wait.jpeg" class="last-seen-image-container">
        </a>
    </div>
    <div class="last-seen-text-container black-text">
        <div class="last-seen-data-item">
            <strong>UNTIL PROCESSING PLEASE WAIT...</strong> 
        </div>
    </div>
</div>